<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="operacao" >Operação:</ion-label>
    <ion-input  class="input"[(ngModel)]="operacao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="resultado">Resultado:</ion-label>
    <ion-input  class="input"[(ngModel)]="resultado"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">MR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  color="primary" class="botao">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparOperacao() color="primary">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparMemoria() color="primary">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)=limparCaracter() color="primary">'X'</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary">1/x</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary">x²</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary">²√x</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)= "adicionarValor('/')"color="primary">÷</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('7')" color="secondary">7 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('8')" color="secondary">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('9')" color="secondary">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('*')" color="primary">X</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('4')" color="secondary">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('5')"color="secondary">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('6')"color="secondary">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('-')"color="primary">-</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)= "adicionarValor('1')"color="secondary">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('2')"color="secondary">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('3')"color="secondary">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('+')"color="primary">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" class="botao">+/-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('0')"color="secondary">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "adicionarValor('.')"color="secondary">,</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)= "calcularOperacao()"color="primary">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
